.container {
    width: 100%;
    min-height: 100vh;
    color: white;
}

/* Navbar styles */
.navbar {
    padding: 1rem 2rem;
    height: 15vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}


.title img {
    width: 20%;
}

/* Logout button */
.logoutButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    border: 1px dotted white;
    border-radius: 10px;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: #fff;
    color: black;
}

/* Main content area */
.main {
    padding: 2rem;
    width: 100%;
}

/* Header for the main content */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.headerTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid white;
}

/* Add note button */
.addNoteButton {
    background-color: transparent;
    font-size: 1.5rem;
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid black;
}

.addNoteButton:hover {
    background-color: black;
    color: #fff;
}

/* Notes container */
.notesContainer {
    width: 100%;
    margin-top: 40px;
}

/* Individual note styles */
.note {
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid yellow;
}

.noteTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.noteTitle:hover {
    color: #bc00d7;
}

.noteDate {
    font-size: 0.975rem;
    color: #555;
}

@media (max-width: 600px) {
    .logoutButton {
        width: 100%;
    }

    .headerTitle {
        font-size: 2rem;
    }

    .title img {
        width: 50%;
    }

    .noteTitle {
        font-size: 1.5rem;
    }

    .addNoteButton {
        font-size: 1rem;
    }
}